.BOOK{
  margin-top: 50px;
}
.APP{
  text-align: center;
}
.button{
  padding: 10px 15px;
  margin: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
button:hover{
  background-color: #0056b3;
}
.model-over{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(24, 26, 26);
  display: flex;
  align-items: center;
  justify-content: center;
}
.model{
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
}
.add{
  margin-bottom: 15px;
  padding: 8px;
  margin: 10px 0;
  border: 1px solid;
  border-radius: 4px;
}
.input{
  width:90% ;
  padding: 8px;
  margin: 10px;
  border:1px solid #ccc;
  border-radius: 4px;
}
.input {
  width:90% ;
  padding: 8px;
  margin: 10px;
  border:1px solid #ccc;
  border-radius: 4px;
}